
.card {
    display: flex;
    flex-direction: column;
    border: 2px solid #333;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    height: 100%;
    background-color: #fafafa;
    /*font-family: 'League Spartan', sans-serif;*/
}

.card-image {
    background-color: #333;
    background-size: cover;
    background-position: center;
}

.card-image img {
    height: auto;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: contain;
}

.card-header {
    padding: 10px;
    font-size: 1.3em;
    font-weight: bold;
}

.card-body {
    padding: 10px;
    flex-grow: 1;
}

.card-report-menu {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #333;
    color: #eee;
    border-radius: 5px;
    overflow: hidden;
}

.card-report-menu__item {
    padding: 10px 20px;
}

.card-report-menu__item:hover {
    background-color: #222;
    cursor: pointer;
}

report-menu {
    display: flex;
    margin-left: auto;
    padding: 5px 10px;
    position: relative;
    align-items: center;
}

report-menu #title {
    margin-left: 5px;
}

report-menu:hover #title {
    text-decoration: underline;
}

report-menu.show .card-report-menu {
    display: block;
}

.card-list {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}


.category-child {
    background-color: inherit;
    border: none;
    padding: 5px 10px;
    outline: none;
    color: inherit;
    font-size: 16px;

    cursor: pointer;
}

.category-child:hover {
    text-decoration: underline;
}


.title {
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 2px solid #333;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    font-family: 'Inconsolata', sans-serif;
    background-color: #fafafa;
}

.title-cat {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 2rem;
}

.title-total, .title-percent {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    flex: 1 1 auto;
    text-align: right;
}

.icon {
    height: 2rem;
    margin-left: 1rem;
    width: 2rem;
    flex: 0 0 auto;
}

#nextPage {
    height: 50px;
}
