body {
    /*font-family: 'Edu SA Beginner', sans-serif;*/
    /*font-family: 'Poiret One', cursive;*/
    font-family: 'League Spartan', sans-serif;
    background: #eee;
    color: #333;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    font-size: 1.1rem;
    /*font-family: 'Edu SA Beginner', sans-serif;*/
}

h1 {
    margin: 40px 0;
    font-size: 1.5rem;
    /*font-family: 'Londrina Solid', cursive;*/
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    border: 2px solid #333;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    height: 100%;
}

.card-image {
    background-color: #333;
    background-size: cover;
    background-position: center;
}

.card-image img {
    height: auto;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: contain;
}

.card-header {
    padding: 10px;
    font-size: 1.3em;
    font-weight: bold;
}

.card-body {
    padding: 10px;
    flex-grow: 1;
}

.card-report-menu {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #333;
    color: #eee;
    border-radius: 5px;
    overflow: hidden;
}

.card-report-menu__item {
    padding: 10px 20px;
}

.card-report-menu__item:hover {
    background-color: #222;
    cursor: pointer;
}

report-menu {
    display: flex;
    margin-left: auto;
    padding: 5px 10px;
    position: relative;
    align-items: center;
}

report-menu #title {
    margin-left: 5px;
}

report-menu:hover #title {
    text-decoration: underline;
}

report-menu.show .card-report-menu {
    display: block;
}


/*.card:hover .card-report {*/
/*    visibility: visible;*/
/*}*/
.card-list {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.categories {
    margin-top: 20px;
}

.category-name {
    display: inline-block;
    background-color: inherit;
    color: inherit;
    font-size: 24px;
    padding: 10px 20px;
    border: 2px solid #333;
    border-radius: 20px;
    margin: 10px;
    /*font-weight: bold;*/
    font-family: 'Edu SA Beginner', sans-serif;
}

.category-name:hover {
    /*text-decoration: underline;*/
    background-color: #333;
    color: #eee;
    cursor: pointer;
}

.category-child {
    background-color: inherit;
    border: none;
    padding: 5px 10px;
    outline: none;
    color: inherit;
    font-size: 16px;

    cursor: pointer;
}

.category-child:hover {
    text-decoration: underline;
}

button {
    font-family: inherit;
}
