html, body {
    overflow-x: clip;
}

body {
    font-family: 'Inconsolata', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to left top, rgb(207, 250, 254), rgb(253, 242, 248))
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    font-size: 1rem;
    line-height: 1;
}

h1 {
    margin: 40px 0 30px;
    font-size: 1.3rem;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.text-center {
    text-align: center;
}

.categories {
    margin-top: 20px;
}

.category-name {
    display: inline-block;
    background-color: inherit;
    color: inherit;
    font-size: 20px;
    padding: 10px 20px;
    border: 2px solid #333;
    border-radius: 20px;
    margin: 10px;
    font-weight: bold;
    font-family: 'Inconsolata', sans-serif;
}

.category-name:hover {
    /*text-decoration: underline;*/
    background-color: #333;
    color: #eee;
    cursor: pointer;
}

.social-links {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-links a {
    text-decoration: none;
    padding: 0 20px;
    fill: #eee;
}

.social-links svg:hover {
    scale: 1.1;
}

.social-links svg {
    width: 32px;
    height: 32px;
}
