---
import Layout from "../layouts/Layout.astro";
import Faq from "../components/Faq.astro";

const metaraw = await Astro.glob('../data/meta.yml');
const meta = metaraw[0].default;
const categories = Object.keys(meta);
---
<Layout title="Offering Inspiration - A non-biased gift idea site"
        description="Find a unique gift from successful kickstarter campgains.">

    <div class="container">

        <div>
            <img class="hero-logo" src="/logo.svg"/>
        </div>
        <div class="hero">
            <div class="hero-text-1">Offering Inspiration</div>
            <div class="hero-text-2">a non-biased gift idea site</div>
        </div>
        <div class="choose">Choose a category to get started</div>

        <div class="categories">
            <!--<button data-cat="all">All</button>-->
          {
            categories.map(c => (
                    <a class="category-name" href={`/${c}`} data-cat={c}>{c}</a>
            ))
          }
        </div>

        <!--<div class="hero-text-2">FAQ</div>-->
        <Faq/>
    </div>

</Layout>

<style>

    .hero {
        text-align: justify;
    }

    .bold {
        font-weight: bold;
    }

    .hero-logo {
        width: 200px;
        margin-top: 100px;
    }

    .hero-text-1 {
        margin-top: 50px;
        font-size: 5rem;
        margin-bottom: 0;
        font-family: 'Poiret One', cursive;
        text-align: right;
        letter-spacing: 6px;
        font-weight: bold;
    }

    .hero-text-2 {
        font-family: 'Poiret One', cursive;
        text-align: right;
        margin-right: 10px;
        font-size: 3rem;
    }

    .choose {
        //font-family: 'Edu SA Beginner', sans-serif;
        font-size: 1.5rem;
        margin-top: 50px;
    }


</style>
