---
import Layout from "../layouts/Layout.astro";
import categories from "../data/categories.json";
import Card from "../components/Card.astro";
export const prerender = false;
---
<Layout title="Kickstarter projects">
    <div id="categories">
        <button data-cat="all">All</button>
      {
        categories.map(c => (
                <div>
                    <span>{c.name}: </span>
                  {
                    c.sub?.map(s => (
                            <button data-cat={s}>{s}</button>
                    ))
                  }
                </div>
        ))
      }
    </div>
    <div id="cards" class="card-list"></div>
    <button id="nextBtn" style="display: none">Next</button>
</Layout>
<Card/>
<script>
  let projects = [];
  let index = 0;
  const pageSize = 12;

  function renderProjects() {

    const cards = document.querySelector('#cards');
    projects.slice(index, index + pageSize).forEach(p => {
      const card = document.createElement('my-card');
      card.setAttribute('name', p.name);
      card.setAttribute('blurb', p.blurb);
      card.setAttribute('img', p.imgs.full);
      card.setAttribute('url', p.url);
      cards.appendChild(card);
    });

    const nextBtn = document.querySelector('#nextBtn');
    nextBtn.style.display = 'block';
    index += pageSize;
  }

  const btns = document.querySelectorAll('button[data-cat]');
  btns.forEach(btn => {

    btn.addEventListener('click', (e) => {
      const cat = e.target.dataset.cat;
      document.querySelector('#categories').remove();
      fetch('/buyableProjects.json')
          .then(res => res.json())
          .then(data => {
            projects = data.sort(() => Math.random() - 0.5);
            if (cat !== 'all') {
              projects = projects.filter(p => p.cat2 === cat);
            }
            renderProjects();
          });
    });
  });

  const nextBtn = document.querySelector('#nextBtn');
  nextBtn.addEventListener('click', () => {
    const cards = document.querySelector('#cards');
    cards.innerHTML = '';
    renderProjects();
  });
</script>

<style>
    .project {
        display: flex;
        margin-bottom: 20px;
    }

    img {
        margin-right: 20px;
    }

    .info {
        flex: 1;
    }

    button {
        width: 100%;
    }
</style>
