<script>
  const TEMPLATE = `
  <div class="card">
    <div class="card-image"></div>
    <div class="card-header"></div>
    <div class="card-body"></div>
  </div>
`;

  export default class Card extends HTMLElement {
    static get observedAttributes() {
      return [];
    }

    doUpdate() {
      this.querySelector('.card-image').innerHTML = `<img src="${this.getAttribute('img')}"/>`;
      this.querySelector('.card-header').innerHTML = this.getAttribute('name');
      this.querySelector('.card-body').innerHTML = this.getAttribute('blurb');
      console.log(this.querySelector('.card-image').innerHTML);
    }

    connectedCallback() {
      this.innerHTML = TEMPLATE;
      this.doUpdate();
      this.addEventListener('click', () => {
        window.open(this.getAttribute('url'), '_blank');
      });
    }

    attributeChangedCallback() {
      if (this.innerHTML) {
        this.doUpdate();
      }
    }
  }

  window.customElements.define('my-card', Card);
</script>

<style>

</style>
