---
import FaqContent from '../snippets/about.md';
---

<div class="faq">
    <FaqContent/>
</div>

<style>
    .faq {
        max-width: 700px;
        margin: 100px auto;
        text-align: left;
    }

</style>
