---
const {name, blurb, url} = Astro.props;
---

<div class="lite-card" data-url={url}>
    <div class="card-header">{name}</div>
    <div class="card-body">{blurb}</div>
</div>

<script>
    document.querySelectorAll('.lite-card').forEach(card =>{
        card.addEventListener('click', (e) => {
            const el = e.currentTarget as HTMLElement;
            window.open(el.dataset.url, '_blank');
        });
    })
</script>

<style>
    .lite-card {
        border-top: 1px solid #333;
        cursor: pointer;
    }

    .card-header {
        padding: 10px;
        font-size: 1.3em;
        font-weight: bold;
    }

    .card-body {
        padding: 0 10px 10px 10px;
        flex-grow: 1;
    }
</style>
