---
import '../styles/global.css';
interface Props {
  title: string;
  description: string;
}

const {title, description} = Astro.props;
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" property="og:description" content={description}/>
    <meta property="og:title" content={title}/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@RandomBitsDev"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Poiret+One&family=League+Spartan&family=Edu+SA+Beginner"/>
    <!--<script src="https://cdn.jsdelivr.net/npm/fontable@latest/dist/auto.js"></script>-->
</head>
<body>
<slot/>
</body>
</html>
